body {
  margin: 0;
 font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(255, 106, 110, 10%);
  color:whitesmoke;
 /* background-image: url("./public/background.png");
  background-size: cover;*/
  background-color: black;
  height: 100%;
}

strong{
  font-weight:900;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:link {
  color: whitesmoke;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: whitesmoke;
  background-color: transparent;
  text-decoration: none;
}

